body {
  background: black;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.iframe-container {
  transform: scale(0.3);
  transform-origin: left top;
}

@media (min-height: 800px) {
  .iframe-container {
    transform: scale(0.4);
    transform-origin: left top;
  }
}

@media (min-height: 900px) {
  .iframe-container {
    transform: scale(0.5);
    transform-origin: left top;
  }
}
.user-action{
  position: absolute;
  background: gray;
  top:0px;
  left: 560px;
  padding: 10px 10px;
  border-radius: 5px;
  margin: 10px 10px;
}
.user-action > .action {
  display: block;
  margin: 10px 10px;
  font-size: 700;
  color: white;
}
.action > input {
  margin: 5px;
}